<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0 Mimic Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/assets/style.css">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            max-width: 100%;
        }

        label {
            text-transform: uppercase;
        }

        section {
            padding: .4rem;
        }

        .header {
            height: 8vh;
        }

        .inp {
            display: inline-block;
        }

        .over {
            height: 12vh;
            background: hsla(0, 0%, 0%, 0.2);
        }

        .content {
            height: 80vh;
            width: 100%;
            overflow-y: scroll;
        }

        button i {
            font-size: 1rem;
        }

        dialog {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: scroll;
        }

        dialog .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .box {
            background: #000;
            border-radius: 7px;
        }

        table {
            background: #000000;
        }

        .box h2 {
            background: #ff3600;
            padding: .2rem;
            border-radius: 7px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"
        integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let id = `<%- page.id %>`
    </script>
</head>

<body>
    <header class="header">
        <div class="left">
            <h1>MIMIC PANEL</h1>
        </div>
        <div class="right">
            <button onclick="openFM('.file-manager')"><i class="so so-file-alt"></i></button>
            <button id="db-btn"><i class="a1 a1-database"></i></button>
            <a href="/panel/download?id=<%- page.id %>"><button><i class="so so-download"></i></button></a>
            <a href="/">
                <button><i class="so so-home"></i></button></a>
        </div>
    </header>

    <section class="over">
        <div class="inp">
            <label for="">target</label>
            <input type="text" value="<%- page.target %>" readonly>
        </div>
        <div class="inp">
            <label for="">id</label>
            <input type="text" value="<%- page.id %>" readonly>
        </div>
        <div class="inp">
            <label for="">url</label>
            <input type="text" readonly id="url">
        </div>
        <button id="copy" style="background: #008cff;"><i class="so so-copy"></i></button>
        <button id="clear" style="background: #ff3600;"><i class="ma ma-clear"></i></button>
    </section>

    <dialog class="file-manager">
        <div class="head">
            <h1>File Manager - <%- page.target %></h1>
            <form method="dialog">
                <input type="file" id="file-upload">
                <button><i class="ic ic-close-sharp"></i></button>
            </form>
        </div>

        <table>
            <tr>
                <th>S.NO</th>
                <th>FILENAME</th>
                <th>CONTROLS</th>
            </tr>
            <%- fm %>
        </table>
    </dialog>

    <dialog class="db">
        <div class="head">
            <h1>Database - <%- page.target %> [req = <%- page.data.length %>]</h1>
            <div>
                <button id="db-clear"><i class="ma ma-delete-sweep"></i></button>
                <form method="dialog">
                    <button><i class="ic ic-close-sharp"></i></button>
                </form>
            </div>
        </div>
        <div class="c"></div>
    </dialog>

    <section class="content">

    </section>

    <script>
        const socket = io("", {
            path: '/socket.io',
            transports: ['websocket'],
            secure: true,
        })

        document.querySelectorAll("#fm-delete").forEach(btn => {
            btn.addEventListener("click", () => {
                GET(`/panel/fileDel?id=${id}&value=${btn.getAttribute("data-value")}`, res => {
                    location.reload()
                })
            })
        })

        document.querySelectorAll("#fm-copy").forEach(btn => {
            btn.addEventListener("click", () => {
                let value = btn.getAttribute("data-value")
                let u = `${location.origin}/mimic/${id}/${value}`
                navigator.clipboard.writeText(u)
            })
        })

        document.querySelector("#db-clear").addEventListener("click", () => {
            GET('/panel/del?id=' + id, res => { location.reload() })
        })

        document.querySelector("#db-btn").addEventListener("click", () => {
            GET("/panel/data?id=" + id, res => {
                let html = ""
                let index = 1
                for (let obj of res.data.data) {
                    html += tableRender(obj, index)
                    index += 1
                }
                document.querySelector(".db").open = true
                document.querySelector(".db .c").innerHTML = html
            })
        })

        function openFM(container) {
            document.querySelector(container).open = true
        }

        let content = document.querySelector(".content")
        let url = `${location.origin}/mimic/${id}`
        document.querySelector("#url").value = url

        document.querySelector("#copy").addEventListener("click", () => {
            navigator.clipboard.writeText(url)
        })

        document.querySelector("#clear").addEventListener("click", () => {
            content.innerHTML = ""
        })

        var index = 1
        socket.on(id, (data) => {
            document.title = `${index} Mimic Panel`
            document.querySelector(".content").innerHTML += tableRender(data, index)
            index += 1

            let b = document.querySelectorAll(".content .box")
            if (b.length > 0) {
                b[b.length - 1].querySelector("a").click()
            }
        })

        function tableRender(data, index) {
            let html = `
            <div class="box" id="box-${index}"><h2>>>${index}</h2><table><a href="#box-${index}"></a>`
            for (let key in data) {
                if (typeof data[key] === 'object' && data[key] !== null) {
                    let inTable = ` <tr>
                        <th>${key}</th>
                        <td>
                            <table>
                                `
                    for (let ina in data[key]) {
                        inTable += `<tr>
                            <th>${ina}</th>
                            <td>${JSON.stringify(data[key][ina])}</td>
                        </tr>`
                    }
                    inTable += `</table></td></tr>`
                    html += inTable
                } else {
                    html += `<tr>
                        <th>${key}</th>
                        <td>${data[key]}</td>
                    </tr>`
                }
            }

            html += `</table></div>`
            return html
        }

        document.querySelector("#file-upload").addEventListener("change", async () => {
            try {
                let f = new FormData()
                f.append("file", document.querySelector("#file-upload").files[0])
                let res = await axios.post("/panel/upload?id=" + id, f)

                if (res.data == "e") {
                    alert("upload error")
                } else {
                    location.reload()
                }
            } catch {
                alert("upload error")
            }
        })

        async function GET(url, callback) {
            try {
                callback(await axios.get(url))
            } catch {
                alert("request error")
            }
        }
    </script>
</body>

</html>